---
import { Image } from "astro:assets";
import { truncate, readingTime } from "../utils";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const posts = allPosts.slice(-7);
// last element in the array
const lastPost = posts.pop();
const lastPosts = [posts.pop(), posts.pop(), posts.pop()];
const otherPosts = [posts.pop(), posts.pop(), posts.pop()];

let cols: "lg:grid-cols-1" | "lg:grid-cols-2" | "lg:grid-cols-3" =
  "lg:grid-cols-3";
if (lastPost) {
  cols = "lg:grid-cols-1";
}
if (lastPosts[0]) {
  cols = "lg:grid-cols-2";
}
if (otherPosts[0]) {
  cols = "lg:grid-cols-3";
}

---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Innovación y Tecnología desde Villahermosa
      </h2>
      <p
        class="mb-8 lg:mb-16 font-light text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Nuestro blog con noticias, tendencias y consejos en paginas web.
      </p>
    </div>
    <div
      class={`grid gap-8 mb-16 lg:divide-x lg:divide-gray-200 dark:lg:divide-gray-700 ${cols}`}
    >
      <div class="space-y-8 lg:pl-8 mx-auto">
        {
          lastPost && (
            <article>
              <a title="ver post" href={`/blog/${lastPost.slug}`}>
                <Image
                    width={384}
                    height={216}
                  class="mb-5 rounded-lg w-full max-w-sm aspect-video object-cover object-center"
                  src={lastPost.data.image.url}
                  alt={lastPost.data.image.alt}
                  transition:name={`${lastPost.id}-image-transition`}
                />
              </a>
              <h3 
                  transition:name={`${lastPost.id}-title-transition`}
                  class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a title="ver post" href={`/blog/${lastPost.slug}`}>{lastPost.data.title}</a>
              </h3>
              <p 
                  transition:name={`${lastPost.id}-description-transition`}
                  class="mb-4 font-light text-gray-500 dark:text-gray-400 text-pretty">
                {lastPost.data.description}
              </p>
              <a
              title="ver post"
                href={`/blog/${lastPost.slug}`}
                class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
              >
                Lectura de {readingTime(lastPost?.body)} min 
                <svg
                  class="ml-2 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </article>
          )
        }
      </div>
      <div class="space-y-8 lg:pl-8 max-w-sm mx-auto">
        {
          lastPosts.map((post) => {
            if (post === undefined) return;
            return (
              <article>
                <h3
                  transition:name={`${post.id}-title-transition`}
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a title="ver post" href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h3>
                <p 
                  transition:name={`${post.id}-description-transition`}
                  class="mb-4 font-light text-gray-500 dark:text-gray-400 text-pretty">
                  {truncate(post.data.description, 100)}
                </p>
                <a
                title="ver post"
                  href={`/blog/${post.slug}`}
                  class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                >
                  Lectura de {readingTime(post?.body)} min 
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </article>
            );
          })
        }
      </div>
      <div class="space-y-8 lg:pl-8 max-w-sm mx-auto">
        {
          otherPosts.map((post) => {
            if (post === undefined) return;
            return (
              <article>
                <h3 
                  transition:name={`${post.id}-title-transition`}
                  class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                  <a title="ver post" href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h3>
                <a
                title="ver post"
                  href={`/blog/${post.slug}`}
                  class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                >
                  Lectura de {readingTime(post?.body)} min 
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </article>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
