---
import { getCollection } from "astro:content";
import config from "../config";
import { kFormatter } from "@utils";
const content = config.sections.pricing;
const plans = await getCollection("plans");

---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
      {content.title}
      </h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
        {content.description}
      </p>
    </div>
    <div
      class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
    >
    {plans.map((plan)=>{
      if (plan.data.available === false ) return;
      return (
      <div
        class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white"
      >
        <h3 class="mb-4 text-2xl font-semibold">{plan.data.title}</h3>
        <p class="font-light text-gray-500 text-sm dark:text-gray-400">
          {plan.data.description}
        </p>

          {plan.data.pricing.initial && plan.data.pricing.subscription && (
        <hr class="my-8"/>
        <div class="grid grid-cols-2">
          <div class="text-lg text-gray-900 dark:text-white mb-1">Inicial</div>
          <div class="text-lg text-gray-900 dark:text-white mb-1">Mensualidad
            <button
                data-popover-target={`popover-${plan.slug}-subs-info`}
                data-popover-placement="top"
                type="button"
                ><svg
                  class="w-4 h-4 text-gray-400 hover:text-gray-500"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                ><span class="sr-only">más información</span></button
              >
              <div
                data-popover
                id={`popover-${plan.slug}-subs-info`}
                role="tooltip"
                class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
              >
                <div class="p-3 space-y-2">
                  <p>
                    {plan.data.pricing.subsInfo}
                  </p>
                </div>
                <div data-popper-arrow></div>
              </div>
          </div>
            <div class="text-3xl font-semibold text-primary-600">${kFormatter( plan.data.pricing.initial)}</div>
            <div class="text-3xl font-semibold text-primary-600">${kFormatter(plan.data.pricing.subscription)}</div>
        </div>
          )}
          <hr class="my-8"/>
            <p class="text-lg font-bold text-left mb-4">Características</p>
            <ul role="list" class=" space-y-4 text-left mb-8 ">
              {plan.data.feat.map((feat)=> {
                return(
                <li class="flex items-center space-x-3">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path></svg
                  >
                  <span>{feat}</span>
                </li>
              )})}
            </ul>
        <a
        title="contactar"
          target="_blank"
              rel="noopener"
          href={plan.data.link}
          class="text-white mt-auto bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:focus:ring-primary-900"
          >{plan.data.cta}</a
        >
      </div>
    )})}
    </div>
  </div>
</section>
