---
import config from "../config";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { ViewTransitions } from "astro:transitions";
import "flowbite";

interface Props {
  title?: string;
  description?: string;
  og?: string;
  link?: string;
}
const {
  title = config.name,
  description = config.description,
  og = config.site + config.og,
  link = config.site + config.base,
} = Astro.props;

---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Open graphs -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={og} />
    <meta property="og:url" content={link} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={config.name} />
    <meta name="twitter:site" content={`@${config.name}`} />
    <meta name="twitter:image" content={og} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={link} />
    <meta name="twitter:card" content={description} />
    <title>{title}</title>
    <ViewTransitions />
    <meta name="description" content={description} />
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "ConvergenciaWeb",
        "image": "http://convergenciaweb.com/logo.webp",
        "url": "http://convergenciaweb.com/paginas-web-en-tabasco",
        "telephone": "+52-961-864-1247",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "435 Prol. Emilio Carranza, Villahermosa, Tabasco",
          "addressLocality": "Villahermosa",
          "addressRegion": "Tabasco",
          "postalCode": "86000",
          "addressCountry": "MX"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 17.9886032,
          "longitude": -92.9560652,
        },
        "sameAs": [
          "https://www.facebook.com/people/ConvergenciaWeb/61560199089942/",
          "https://www.instagram.com/convergencia.web/"
        ],
        // "openingHours": "Mo,Tu,We,Th,Fr 09:00-18:00",
        "priceRange": "$$",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "20"
        },
        "service": {
          "@type": "Service",
          "serviceType": "Diseño y Desarrollo de Paginas Web",
          "areaServed": {
            "@type": "Place",
            "name": "Tabasco"
          }
        }
      }
    </script>

    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- preconects -->
    <link rel="preconnect" href="https://newassets.hcaptcha.com" />
    <link rel="preconnect" href="https://js.hcaptcha.com" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={config.site} />
  </head>
  <body>
    <script></script>
    <Header />

    <slot />
    <Footer />
  </body>
</html>

<script>
  import "flowbite";
</script>
