---
import { Image } from "astro:assets";
import ShareSocialMedia from "../components/share-social-media.astro";
import { readingTime, truncate } from "../utils";
import Layout from "./layout.astro";
import config from "../config";
import { getCollection } from "astro:content";
const { frontmatter, slug, id } = Astro.props;
const allPosts = await getCollection("posts");
const posts = allPosts.slice(-3).reverse();
const og = `${config.site}${frontmatter.image.url}`;
---

<Layout
  title={`${frontmatter.title}`}
  description={frontmatter.description}
  {og}
  link={config.site + slug}
>
  <main class="pb-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <header class="py-12">
      <div class="px-4 mx-auto w-full max-w-screen-xl text-center">
        <span class="block mb-4 font-semibold text-gray-900 dark:text-white"
          >Publicado <time
            class="font-normal text-gray-500 dark:text-gray-400"
            class="uppercase"
            datetime="{frontmatter.pubDate}"
            title={new Date(frontmatter.pubDate as Date).toLocaleString("es")}
          >
            <relative-time datetime={frontmatter.pubDate} lang="es">
              {new Date(frontmatter.pubDate as Date).toLocaleString("es")}
            </relative-time>
          </time></span
        >
        <h1
          transition:name={`${id}-title-transition`}
          class="mx-auto mb-4 max-w-2xl text-2xl dark:text-white font-extrabold leading-none text-gray-900 sm:text-3xl lg:text-4xl"
        >
          {frontmatter.title}
        </h1>
        <p
          transition:name={`${id}-description-transition`}
          class="text-lg text-balance font-normal text-gray-500 dark:text-gray-400"
        >
          {frontmatter.description}
        </p>
      </div>
    </header>
    <div
      class="flex relative justify-between px-4 mx-auto max-w-screen-xl bg-white dark:bg-gray-900 rounded"
    >
      <article
        class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
      >
        <Image
          width={828}
          height={466}
          class="mb-5 rounded-lg w-full aspect-video object-cover object-center"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          transition:name={`${id}-image-transition`}
        />
        <div
          class="flex flex-col lg:flex-row justify-between lg:items-center py-6 border-t border-b border-gray-200 dark:border-gray-700"
        >
          <span
            class="text-base mb-4 lg:mb-0 font-normal text-gray-500 dark:text-gray-400"
            >Por <a
              title="pagina del autor"
              href={frontmatter.author.link}
              rel="noopener"
              target="_blank"
              rel="author"
              class="font-bold text-gray-900 dark:text-white no-underline hover:underline"
              >{frontmatter.author.name}</a
            ></span
          >
          <ShareSocialMedia />
        </div>

        <slot />
        <div
          class="flex justify-between items-center py-6 border-t border-b border-gray-200 dark:border-gray-700"
        >
          <ShareSocialMedia />

          <div class="not-format hidden">
            <div
              id="tooltip-save"
              role="tooltip"
              class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"
            >
              Save this article
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button
              id="dropdownMenuIconHorizontalButton"
              data-dropdown-toggle="dropdownDotsHorizontal"
              class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-gray-400 focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-600"
              type="button"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 3"
              >
                <path
                  d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
                ></path>
              </svg>
            </button>
            <div
              id="dropdownDotsHorizontal"
              class="hidden z-10 w-42 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
            >
              <ul
                class="py-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownMenuIconHorizontalButton"
              >
                <li>
                  <a
                    title="reportar problema"
                    href="/soon"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Reportar problema</a
                  >
                </li>
                <li>
                  <a
                    title="enviar sugerencia"
                    href="/soon"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Enviar sugerencia</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <aside class="hidden xl:block" aria-labelledby="sidebar-label">
        <div class="xl:w-[336px] sticky top-32">
          <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
          <div
            class="p-4 mb-6 rounded-lg border border-gray-200 dark:border-gray-700"
          >
            <h4
              class="mb-4 text-sm font-bold text-gray-900 dark:text-white uppercase"
            >
              Últimos posts
            </h4>
            {
              posts.map((post) => (
                <div class="mb-6">
                  <h5 class="mb-2 text-lg font-bold leading-tight text-gray-900 dark:text-white">
                    {post.data.title}
                  </h5>
                  <p class="mb-2 text-gray-500 dark:text-gray-400">
                    {truncate(post.data.description, 75)}
                  </p>
                  <a
                    title="ver post"
                    href={`/blog/${post.slug}`}
                    class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
                  >
                    Lectura de {readingTime(post?.body)} min
                  </a>
                </div>
              ))
            }
          </div>
          <!-- <div>
              <div
                class="flex justify-center items-center mb-3 w-full h-48 bg-gray-100 rounded-lg dark:bg-gray-800"
              >
                <svg
                  aria-hidden="true"
                  class="w-8 h-8 text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                    clip-rule="evenodd"></path></svg
                >
              </div>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                Students and Teachers, save up to 60% on Flowbite Creative
                Cloud.
              </p>
              <p
                class="text-xs font-medium text-gray-400 uppercase dark:text-gray-500"
              >
                Ads placeholder
              </p>
            </div> -->
        </div>
      </aside>
    </div>
  </main>

  <aside
    aria-label="Related articles"
    class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800 antialiased"
  >
    <div class="px-4 mx-auto max-w-screen-xl">
      <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
        Leer ahora
      </h2>
      {
        posts.map((post) => (
          <article class="flex mb-8">
            <a title="ver post" href={`/blog/${post.slug}`} class="shrink-0">
              <Image
                src={post.data.image.url}
                width="128"
                height="128"
                class="mr-5 w-32 h-32 max-w-full align-middle object-cover rounded-full"
                alt={post.data.image.alt}
              />
            </a>
            <div class="flex flex-col justify-center">
              <h2 
                 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                <a title="ver post" href={`/blog/${post.slug}`}>
                  {post.data.title}
                </a>
              </h2>
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                {truncate(post.data.description, 200)}
              </p>
              <a
                title="ver post"
                href={`/blog/${post.slug}`}
                class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
              >
                Lectura de {readingTime(post?.body)} min
              </a>
            </div>
          </article>
        ))
      }
    </div>
  </aside>
</Layout>

<script>
  import "@github/relative-time-element";
</script>
